<%- include("header") -%>
<body>
  <div class="box" id="heading">
    <h1>
      <%=title%>
    </h1>
  </div>
  <div class="box">
    
      <% 
        for (var i=0; i<l1.length; i++){%>
          <div class="item">
            <input type="checkbox">
            <p><%=l1[i]%></p>
          </div>
            
          <%}  
        
        %>
  <form action="/" method="post">
    <input type="text" name="InputItem" placeholder="New Item" autocomplete="off" autofocus>
    <button type="submit" name="button" value = <%=title%> >+</button>

  </form>
  </div>

<%- include("footer") -%>